h1 {
  color: red;
}

h2 {
  color: yellow;
}

h3 {
  color: peru;
}

#button-with-functionality {
  background-color: blueviolet;
}

.type-1 {
  color: navy;
  background-color: peru;
  width: 200px;
  height: 200px;
}